<div id="app">
    <div class="leftBigContainer">
        <div class="topBarLeft">
            <div class="tbLeftContainer">
                <div class="profileContainer" (click)="openProfileModal()">
                    <img class="profile" [src]="icon" alt="" srcset="">
                </div>
                <div class="leftRightIcons">
                    <div class="statusContainer">
                        <svg id="df9d3429-f0ef-48b5-b5eb-f9d27b2deba6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#919191" d="M12.072 1.761a10.05 10.05 0 0 0-9.303 5.65.977.977 0 0 0 1.756.855 8.098 8.098 0 0 1 7.496-4.553.977.977 0 1 0 .051-1.952zM1.926 13.64a10.052 10.052 0 0 0 7.461 7.925.977.977 0 0 0 .471-1.895 8.097 8.097 0 0 1-6.012-6.386.977.977 0 0 0-1.92.356zm13.729 7.454a10.053 10.053 0 0 0 6.201-8.946.976.976 0 1 0-1.951-.081v.014a8.097 8.097 0 0 1-4.997 7.209.977.977 0 0 0 .727 1.813l.02-.009z"></path><path fill="#009588" d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path></svg>
                    </div>
                    <div class="newChatContainer">
                        <button (click)="openContactModal()"  style="border: 2px solid rgb(239, 239, 239);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#919191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                        </button>
                    </div>
                    <div class="newGroupContainer">
                        <button (click)="openNewGroupModal()"  style="border: 2px solid rgb(239, 239, 239);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#919191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></button>
                    </div>
                    <div class="leftMore">
                        <button (click)="logOut()"  style="border: 2px solid rgb(239, 239, 239);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#919191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h6v18h-6M10 17l5-5-5-5M13.8 12H3"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchBarContainer">
            <div class="searchIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#919191" d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z"></path></svg>
            </div>
            <div class="searchBarText">Search or start new chat</div>
            <div class="searchBar">
            </div>
        </div>
        <div class="inboxChat">
            <app-inbox-chat *ngFor="let inbox of chats; let i = index" (click)="onSelectInbox(i)" [profilePic]="inbox.icon" [name]="inbox.title" [msgTime]="inbox.lastMsg" [msgPreview]="inbox.msgPreview" [isRead]="inbox.isRead" ></app-inbox-chat>
        </div>
    </div>
    <div class="rightBigContainer">
        <app-chat-area [title]="currentChat.title" [icon]="currentChat.icon" [msgs]="currentChat.msgs" [chatInfo]="currentChat" [connected]="isCurrentChatOnline" ></app-chat-area>
    </div>
    <div>
        <app-contact-modal [contactInfo]="contactInfo" *ngIf="showContactModal" (onCloseContact)="closeContact()" (onAddContact)="addContact($event)"></app-contact-modal>
        <app-profile-modal *ngIf="showProfileModal" (onCloseProfile)="closeProfile()" (onUpdateProfile)="updateProfile($event)"></app-profile-modal>
        <app-new-group-modal *ngIf="showNewGroupModal" (onCloseGroup)="closeGroup()" (onCreateGroup)="createGroup($event)"></app-new-group-modal>
        
    </div>
</div>
