<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Crear Grupo</p>
            <button class="delete" aria-label="close" (click)="cancel()"></button>
        </header>
        <section class="modal-card-body">

            <div>
                <span>Nombre del grupo: </span><input class="input" type="text" name="groupName" id="group" [(ngModel)]="groupName">
            </div>
            <br>
            <div class="select is-multiple big">
                <select class="big has-text-centered" name="selected" [(ngModel)]="selected" multiple size={{listOfContacts.length}}>
                    <option *ngFor="let contact of listOfContacts" value={{contact.telefono}}>{{ contact.name }} </option>
                </select>
            </div> 
        </section>
        <footer class="modal-card-foot"> 
            <button class="button is-success" (click)="createGroup()">Crear</button>
            <button class="button" (click)="cancel()">Cerrar</button>
        </footer>
    </div>
</div>